*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 16px;
  background-image: url(../../../assets/images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: var(--clr-white);
}