.attributes {
  flex-basis: 23%;
  padding: 2em 2em 0;
}

.attribute {
  color: var(--main-branco);
  display: flex;
  align-items: flex-start;
  height: 25%;

  &__title {
    font-size: 1.5em;
    border-bottom: 1px solid var(--main-cinza);
    flex-basis: 40%;
    text-transform: uppercase;
    order: 1;
  }

  &__value {
    flex-basis: 60%;
    position: relative;
    margin: 10px 0 0;
    order: 2;
    margin: -10px 0 0;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
      border: 1px solid var(--main-cinza);
      border-radius: 50%;
    }
  }

  &__number {
    position: absolute;
    top: 50%;
    transform: translateY(-46%);
    width: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 3em;
    margin: 0;
  }

  &:nth-child(2n) &__title {
    order: 2;
    text-align: right;
  }

  &:nth-child(2n) &__value {
    order: 1;
    flex-basis: 35%;
    margin: 10px 0 0;
  }
}
