.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  &__logo {
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 10;
    img {
      width: 50px;

      &:hover {
        animation: logo-animation 0.5s ease-in-out alternate infinite;
      }
    }
  }

  &__player {
    position: relative;
    width: 400px;
    margin-right: 3rem;

    & img {
      width: 300px;
    }

    // &::after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   left: 7%;
    //   bottom: 1%;
    //   width: 60%;
    //   z-index: -10;
    //   height: 15px;
    //   border-radius: 50%;
    //   background-color: var(--clr-white);
    // }
  }

  &__title {
    transform: rotate(180deg);
    font-weight: 500;
    font-size: 130px;
    position: absolute;
    z-index: -10;
    bottom: 7rem;
    left: -2.5rem;
    line-height: 0.8;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: var(--clr-white);
  }
}

@keyframes logo-animation {
  to {
    transform: scale(1.1);
  }
}
