.main {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  &__logo {
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 2%;
    img {
      width: 50px;

      &:hover {
        animation: logo-animation 0.5s ease-in-out alternate infinite;
      }
    }
  }

  &__player {
    position: relative;
    height: 100%;
    & img {
      position: absolute;
      z-index: 1;
      height: 100%;
    }
  }

  &__title {
    transform: rotate(180deg);
    font-weight: 500;
    font-size: 130px;
    position: absolute;
    bottom: 7rem;
    left: -3rem;
    line-height: 0.8;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: var(--clr-black);
  }
}

@keyframes logo-animation {
  to {
    transform: scale(1.1);
  }
}
